@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Nunito+Sans:ital@1&display=swap');

html,
body {
  min-width: 290px;
  color: #ffffff;
  background-color: #191414;
  font-family: 'Merriweather', serif;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
}

h2 {
  color: white;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
}

main {
  margin-bottom: 120px;
}