#sidebar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: #eeeeee;
}
  
#sidebar-title {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #004d40  0%,
      #bdd9d7 29%,
      #42a5f5 67%,
      #90caf9 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wiggle 2s ease-in-out 2;
}
  
#sidebar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
  
#sidebar li {
    color: #f5f5f5;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
  
#sidebar .nav-item {
    display: block;
    padding: 10px 30px;
    color: #e0e0e0;
    text-decoration: none;
    cursor: pointer;
}

@keyframes wiggle {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }